<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="https://fonts.googleapis.com/css2?family=Quantico:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <style>
        h1{
            font-family: 'Quantico', sans-serif;
        }
        a {
            color: black;
        }
        a:hover {
            text-decoration: none;
            background-color: lightgreen;
            font-size: 150%;
            background: #66ff66;
        }
    </style>
</head>
<body>
    <h1>Home</h1>
    <ul>
        <li><a href="#"><i class="fa fa-adjust"> About</i></a></li>
        <li><a href="/profile"><i class="fa fa-user"> Profile</i></a></li>
        <li><a href="https://www.basketballnews.com/"><i class="fa fa-newspaper-o"> News</i></a></li>
    </ul>

</body>
</html>